/**
*UC1 CSS  to create a header of the address book home page.
*/
body
{
    margin:0;
    height: 100%;
}

.header
{
    padding: 15px 0;
    background-color: white;
}

.header-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content
{
    display: flex;
    flex-direction: row;
    width:80%;
    align-items: center;
}

.logo-content-img
{
    border : solid 8px #0d0e0f;
    height : 10%;
}

.addbook-text
{
    font: normal normal bold 15px/25px Montserrat;
    font-family: "Montserrat",sans-serif;
    text-transform: capitalize;
    flex-direction: row;
    letter-spacing: 0px;
    margin:-1030px;
    color: blue;
}
.address-book
{
    color: #546677;
    flex-direction: row;
    padding: 0px;
    margin :-1030px;
}

*{box-sizing: border-box;}

/**
* UC-2 Css to create Content Header
*/

.main-content
{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh-80px);
    padding: 25px 0 10px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.header-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    align-items: center;
}
 
.contact-text
{
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    color: #42515f;
}

.add-button
{
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    background:blue 0% 0% no-repeat padding-box;
    color: #ffffff;
}
.table-main {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
}

td, th {
    text-align: left;
    padding: 5px 8px;
}

th {
    background: #42515f 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;

    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    border: 0px solid #dddddd;
}

tr:not(:first-child) {
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

td {
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
}

td:first-child{
    display: flex;
    align-items: center;
}

td img:first-child{
    margin-right: 10px;
}

td img {
    cursor: pointer;
}

.dept-label {
    background-color: #e9fea5;
    border-radius: 40%;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
}

*{
    box-sizing: border-box;
}