body {
            margin: 5px;
            height: 100%;
}
/**
UC 1 Created css for header of address book app.
*/

.header {
            padding: 15px 0;
            background-color: #ffffff;
}

.header-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px solid rgb(38, 0, 109);
}
.img-logo{
            height:100px;
            width:100px;
}

.logo-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid rgb(40, 0, 134);
            width: 10px;
            height: 10px;
}

.logo-content-img {
            border: solid 1px blue;
    
}

.add-text {
            font: normal normal bold 20px/25px Montserrat;
            font-family: "Montserrat", sans-serif;
            letter-spacing: 0px;
            color: rgb(56, 5, 199);
            text-transform: capitalize;
}

.add-book {
            color: #42515f;
}

* {
            box-sizing: border-box;
}
/** 
UC-2 Created a css for form header. 
*/

.form-header{
            top: 173px;
            left: 427px;
            width: 1067px;
            height: 803px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid #F5F5F5;
            border-radius: 8px;
            opacity: 1;
            margin-top:40px;
            margin-left:150px; 
            border-radius:5px;
}
.form-header-text{
            top: 173px;
            left: 427px;
            width: 1067px;
            height: 108px;
            background: #008CFF 0% 0% no-repeat padding-box;
            opacity: 1;
            padding-top:40px;
            border-radius:5px;
}
.form-heading{
            width: 318px;
            height: 37px;
            text-align: center;
            font: normal normal normal 28px/37px Roboto;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: uppercase;
            opacity: 1;
            margin: 50px 250px 0px 250px;
            display:inline;
}
.form-logo{
            left: 1393px;
            width: 44px;
            height: 44px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            opacity: 1;
            float:right;
            margin-right:50px;
            margin-top:-40px;
}
/** 
UC-3 Created a css for form feilds. 
*/
.main-div{
            top: 173px;
            left: 427px;
            width: 1067px;
            height: 803px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid #F5F5F5;
            border-radius: 8px;
            opacity: 1;
            
}
.name-field{
            top: 336px;
            left: 554px;
            width: 81px;
            height: 24px;
            text-align: left;
            font: normal normal normal 18px/24px Roboto;
            letter-spacing: 0px;
            color: #42515F;
            opacity: 1;
            display: flex;margin-left:-730px;margin-top:40px;
}
.input-name{
            top: 370px;
            left: 554px;
            width: 808px;
            height: 50px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #BDBDBD;
            border-radius: 3px;
            opacity: 1;display: flex;
}
.address-field{
            top: 547px;
            left: 554px;
            width: 66px;
            height: 24px;
            text-align: left;
            font: normal normal normal 18px/24px Roboto;
            letter-spacing: 0px;
            color: #42515F;
            opacity: 1;
            display: flex;margin-left:-745px;
}
.input-address{
            top: 580px;
            left: 554px;
            width: 808px;
            height: 104px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #BDBDBD;
            border-radius: 3px;
            opacity: 1;
}
.city-field{
            top: 703px;
            left: 558px;
            width: 30px;
            height: 24px;
            text-align: left;
            font: normal normal normal 18px/24px Roboto;
            letter-spacing: 0px;
            color: #42515F;
            opacity: 1; margin-left:50px;margin-left:-90px;"
}
#city{
            top:735px;
            left: 558px;
            width: 250px;
            height: 50px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #BDBDBD;
            border-radius: 3px;
            opacity: 1;margin-left:126px;margin-top:20px;
}
.state-field{
            top: 336px;
            left: 554px;
            width: 81px;
            height: 24px;
            text-align: left;
            font: normal normal normal 18px/24px Roboto;
            letter-spacing: 0px;
            color: #42515F;
            opacity: 1;
            display: flex;margin-left:-165px;
}
#state{
            top: 735px;
            left: 558px;
            width: 250px;
            height: 50px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #BDBDBD;
            border-radius: 3px;
      
            opacity: 1;margin-top:20px;
}
.zip-field{
            top: 336px;
            left: 554px;
            width: 81px;
            height: 24px;
            text-align: left;
            font: normal normal normal 18px/24px Roboto;
            letter-spacing: 0px;
            color: #42515F;
            opacity: 1;
            display: flex;margin-right:126px;margin-left:-165px;
}
#number{
            top: 735px;
            left: 1112px;
            width: 250px;
            height: 50px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #BDBDBD;
            border-radius: 3px;
            opacity: 1;margin-right:126px;margin-top:20px;
}
.phone-field{
            top: 439px;
            left: 554px;
            width: 120px;
            height: 24px;
            text-align: left;
            font: normal normal normal 18px/24px Roboto;
            letter-spacing: 0px;
            color: #42515F;
            text-transform: capitalize;
            opacity: 1;margin-left:-690px;display:flex;margin-bottom:20px;
}
#phonenumber{
            top: 478px;
            left: 554px;
            width: 808px;
            height: 50px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #BDBDBD;
            border-radius: 3px;
            opacity: 1;
}
.abutton{
            margin-top:50px;
            margin-left:550px;
            top: 841px;
            left: 949px;
            width: 180px;
            height: 53px;
            background: #E2E2E2 0% 0% no-repeat padding-box;
            border: 1px solid #969696;
            border-radius: 5px;
            opacity: 1;
}
.rebutton{
            margin-top:50px;
            margin-right:120px;
            float:right;
            top: 841px;
            left: 1169px;
            width: 180px;
            height: 53px;
            background: #E2E2E2 0% 0% no-repeat padding-box;
            border: 1px solid #969696;
            border-radius: 5px;
            opacity: 1;
}